<mat-card >
  <mat-card-title>
      <form>
<mat-form-field>
  <input matInput placeholder="Nome" [(ngModel)]="client.name" name="name">
  </mat-form-field>

<mat-form-field>
  <input matInput placeholder="Sobrenome" [(ngModel)]="client.lastname" name="lastname">
  </mat-form-field>

<mat-form-field>
  <input matInput placeholder="E-mail" [(ngModel)]="client.email" name="email">
  </mat-form-field>

<mat-form-field>
  <input matInput type="password" placeholder="Senha" [(ngModel)]="client.password" name="password">
  </mat-form-field>

      </form>
  </mat-card-title>
  <button mat-raised-button (click)="createClient()" color="primary">
      Salvar
  </button>

  <button mat-raised-button (click)="cancel()">
      Cancelar
  </button>
</mat-card>





