.sidenav {
  background-color: rgb(27, 1, 27);
  width: 150px;
  position: fixed;
  height:100%;
}

.sidenav a {
  color: #fff;

}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 30px;
  background-color: rgb(67, 7, 75);
}
