
    <mat-card class="home mat-elevation-z3">
      <mat-card-title class="title">
          Bem-vindo!
      </mat-card-title>

      <mat-card-subtitle class="subtitle">
          Sistema de cadastro de Clientes e Produtos
      </mat-card-subtitle>

  </mat-card>


  <mat-card class="cadastros">
      <button mat-raised-button (click)="navigateToClientCreate()" color="primary">
          Novo Cliente
      </button>

      <button mat-raised-button (click)="navigateToProductCreate()" color="primary">
          Novo Produto
      </button>
      <img class="gif"
                src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/908eeafb-24cd-4fdb-b61b-e76f82f11d3c/de016xc-a9746fb6-e60d-48dc-ba32-7adc25f1f810.gif?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzkwOGVlYWZiLTI0Y2QtNGZkYi1iNjFiLWU3NmY4MmYxMWQzY1wvZGUwMTZ4Yy1hOTc0NmZiNi1lNjBkLTQ4ZGMtYmEzMi03YWRjMjVmMWY4MTAuZ2lmIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.z_lASBwnVgUqVPGR_LzzdUIC3hDTT32FoKKgnnBRBZI"
                width="200px" alt="gif" align="left">
  </mat-card>
